[submodule "Libraries/doctest"]
	path = Libraries/doctest
	url = https://github.com/onqtam/doctest
[submodule "Libraries/cppcodec"]
	path = Libraries/cppcodec
	url = https://github.com/tplgy/cppcodec
[submodule "Libraries/entt"]
	path = Libraries/entt
	url = https://github.com/skypjack/entt
